@import '../../scss/main';

.theme-controller {
  display: flex;
  justify-content: flex-end;

  .button {
    background-color: $color-grey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px 0 rgba($color-grey, 0.15);
    float: right;
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }

    &:active {
      opacity: 1.2;
    }

    .icon {
      filter: grayscale(1);

      &.active {
        filter: unset;
      }

      &:not(:last-of-type) {
        margin: 0 5px 0 0;
      }
    }
  }
}
