@import '../../../scss/main';

.todo-item {
  border: 1px solid rgba($color-grey, 0.2);
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba($color-grey, 0.15);
  transition: all 0.3s ease;

  &.light {
    .container {
      .title {
        color: $color-light-secondary;
      }
    }
  }

  &.dark {
    .container {
      .title {
        color: $color-dark-secondary;
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:not(:last-of-type) {
    margin: 0 0 15px;
  }

  &.completed {
    .container {
      .checker:before {
        content: '✓';
        color: $color-completed;
        border-color: $color-completed;
      }

      .title {
        text-decoration: line-through;
      }
    }
  }

  .container {
    margin: 0 20px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checker {
      margin: 0 5px 0 0;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      @media #{$tablets-up} {
        margin: 0 10px 0 0;
      }

      &:hover:before {
        opacity: 0.85;
      }

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        border: 1px solid $color-grey;
        color: $color-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
      }

      .checkbox {
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    .title {
      margin: 0;
      flex: 1;
      background-color: transparent;
      @include font-size-small;
      font-weight: normal;
      border: none;
      outline: none;
    }

    .button {
      margin: 0 0 0 5px;
      padding: 0;
      width: 18px;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      @media #{$tablets-up} {
        margin: 0 0 0 10px;
      }

      &:hover {
        opacity: 0.85;
      }

      .icon {
        color: $color-grey;
        @include font-size-large;
        line-height: 18px;
        cursor: pointer;
      }
    }
  }
}
