@import './scss/main';

.app {
  margin: 0 30px;
  padding: 50px 0;

  @media #{$tablets-up} {
    margin: 0 auto;
    width: 640px;
  }

  @media #{$medium-up} {
    width: 960px;
  }

  .header {
    margin: 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
      @include font-size-normal;

      @media #{$tablets-up} {
        @include font-size-large;
      }
    }

    .select {
      padding: 5px;
      width: 80px;
      border: 1px solid $color-grey;
      border-radius: 15px;
      @include font-size-smaller;
      outline: none;
      cursor: pointer;

      @media #{$tablets-up} {
        width: 120px;
      }
    }
  }
}
