// Global Colors
// ===========================
$color-white: #ffffff;
$color-grey: #8d8d8d;
$color-black: #000000;

// Light Theme Colors
// ===========================
$color-light-primary: transparent;
$color-light-secondary: #333333;

// Dark Theme Colors
// ===========================
$color-dark-primary: #333333;
$color-dark-secondary: $color-white;

// Item Status Colors
// ===========================
$color-all: #0088ff;
$color-active: #ff0055;
$color-completed: #00dd66;
